body {
    margin: 0px;
    background-color: #F5F5F5;
}

ul,
li {
    margin: 0px;
    list-style: none;
}

#contrainer {
    width: 870px;
    height: 620px;
    background-color: white;
    margin: 0 auto;
}

#top {
    height: 190px;
    text-align: center;
}

#logo {
    height: 150px;
}

#logo span {
    font-size: 30px;
    color: #333;
    font-weight: normal;
}

#middle {
    height: 350px;
    width: 360px;
    margin: 0 auto;
    font-size: 14px;
}

#left {
    float: left;
}

#right {
    float: right;
}

#right a {
    color: #666666;
}

.oth_type_tit {
    border: 0px;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
    margin-top: 20px;
    color: #b0b0b0;
}

#dlfs {
    text-align: center;
}

#dlfs a {
    padding-right: 20px;
}

#xmfoot {
    padding-top: 20px;
    height: 80px;
    font-size: 14px;
    color: #666666;
    text-align: center;
    margin: 0 auto;
}

#xmfoot a {
    text-decoration: none;
    color: #757575;
}

#foot_top a:hover {
    text-decoration: none;
    color: #333;
}

#foot_top ul {
    height: 30px;
    color: #757575;
}

#foot_top li {
    display: inline-block;
    padding-right: 13px;
    height: 30px;
    line-height: 30px;
}

#guojia {
    width: 297px;
    height: 48px;
}

#guojiabtn {
    width: 48px;
    height: 48px;
}